@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;

} 

body {
    display: flex;
}
.contenedor{
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 60%;
    background: #fff;
    padding: 10px;
}
.principal {
    background: #0CB1BF;
    padding: 10px;
}
.header{
    display: flex;
}
.nombre{
    margin-left: 40px;
    width: 100%;
}
.titulo{
    border: 1px solid #0CB1BF;
    color: #0CB1BF;
}
.navegacion{
    margin-left: 5px;
    padding: 10px;
    color: black;
}
a:link{
    text-decoration: none;
}
a{
    color: #0CB1BF;
}
a:hover{
    color: red;

}