@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;

} 

body {
    display: flex;
}
h1{
    padding: auto;
}
.contenedor{
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 60%;
    background: #fff;
    padding: 10px;
}
.principal {
    background: #0CB1BF;
    padding: 10px;
}
.header{
    display: flex;
}
.nombre{
    margin-left: 50px;
    width: auto;
}
.nombre li {
    padding: 10px;
    width: auto;
}
.titulo{
    border: 1px solid #0CB1BF;
    color: #0CB1BF;
}
.navegacion{
    margin-left: 5px;
    padding: 10px;
    color: black;
}
a:link{
    text-decoration: none;
}
a{
    color: #0CB1BF;
}
a:hover{
    color: red;

}
li{
    padding: 10px;
}
.read-more-btn {
    background-color: #0CB1BF;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px 30px;
    font-size: 0.9em;
    box-shadow: 0px 0px 10px 0px #0CB1BF;
    cursor: pointer;
  }
  
  .read-more-btn:hover {
    box-shadow: none;
    background-color: black;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
  }
  
   
  .hideText {
    display: none;
  }
  
  .showText {
    display: block;
  }